.userbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .card {
    border: 2px solid #17a589;
    box-shadow: 5px 6px 0px #17a589;
    transition: 0.3s all;
    border-radius: 3px;
    background-color: #fff;
    padding: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 440px;
    max-width: 95%;
    margin-bottom: 25px;
    font-size: 17px;
    }
.userinf{
    padding-left: 20px;

    flex-direction: column;
}
.detaillabel{
    font-weight: bold;
    padding-right: 0px;
}
.detailprop{
    padding-left: 42px;
}
.detailpropn{
    padding-left: 10px;
}
.detailprope{
    padding-left: 55px;
}
.detailpropp{
    padding-left: 20px;
}
.userrow{
    display: flex;
    flex-direction: row;
}
.detailpropname{
    font-size: 20px;
    font-weight: 400;
}